* {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  height:auto;
  box-sizing: border-box;
}

::-webkit-scrollbar{
  overflow-y: scroll;
}

body{
  /* background-image:url("assets/bg.jpg"); */
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  height:auto;
  color:white;
}

img{
  height:100%;
  width:100%;
}
.main-container{
  background-image: url("assets/justin.jpg");
  height:100px;
}

header {
  display: flex;
  width:100vw;
  height:10vh;
  /* margin-bottom:50px; */
  /* padding-bottom: 20px; */
}

/* navbar start */
nav{
  display: flex;
  justify-content: center;
  align-items: center;
  width:100%;
  justify-content: space-between;
  position:fixed;
  z-index: 10;
}

.nav-left,.nav-right{
  display:flex;
  height:100%;
  align-items:center;
  list-style: none;
}

.nav-left{
  justify-content:space-around;
  width:25%;
 
}

.nav-left li div{
  overflow: hidden;
  height:70px;
  width:70px;
  border-radius: 100%;
}


.nav-company-name{
  display:flex;
  justify-content:space-between;
  align-items: center;
}

.nav-company-name h3{
  margin-left:5px;
}

.nav-right{
  width:35%;
  justify-content: space-around;
  
}

.nav-search{
  border-radius: 25px;
  padding:10px 7px;
  display:flex;
  justify-content: space-around;
  align-items: center;
  width:50%;
  background-color: rgb(68, 67, 67);
}

.nav-search input{
  font-size: 13px;
  border:0;
  outline:0;
  height:25px;
  width:70%;
  padding:2px;

}

.nav-profile{
  height:60px;
  width:60px;
  background-color: blueviolet;
  border-radius: 100%;
  overflow:hidden;
}

.fa-bell{
  /* animation:animate 0.7s ease-in-out infinite; */
  -webkit-animation-name:animate;
  -webkit-animation-duration: .5s;
  -webkit-animation-iteration-count:infinite;
  -webkit-transform-origin:50% 0;
  -webkit-animation-timing-function:ease-in-out;
  
  transform-origin: 50% 0% ;
  /* animation-iteration-count: 4; */
}

@keyframes animate{
  0%,100%{transform: rotate(30deg);}
  10%,90%{transform: rotate(-30deg);}
  40%,90%{transform: rotate(30deg);}
  0%,100%{transform: rotate(-30deg);}
    
    

}
/* navbar end */
main {
  min-height: 90vh;
  display: flex;
  position:relative;
}

main .main-left {
  min-width: 70%;
  display: flex;
  justify-content: center;
}

.singer {
  min-width: 70%;
  height:200px;;
  
}

.singer ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  width:100%;
}

.singer ul li {
  width: 33%;
  height: 100%;
  /* border: 1px solid black; */
  cursor: pointer;
  
}

.singer ul li a img{
  width:100%;
  height:100%;
  overflow: hidden;
}


.singer ul li img:hover ul{
  width:80%;
}

.main-left{
  /* margin-top:50px; */
  display:flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-y: scroll;
  box-sizing: border-box;
  padding-top: 60px;
}
.main-right {
  display:flex;
  flex-direction: column;
  /* margin-top:50px; */
  /* position: relative;  */
  max-height: 90vh;
  box-sizing: border-box;
  padding-top: 60px;
  justify-content: center;
  align-items: center;
}

.main-right ul{
  display:flex;
  flex-direction: column;
  align-items:center;
  list-style: none;
  width: 100%;
  height:100%;
  overflow-y: scroll;
  box-sizing: border-box;
}

.main-left{
  width:60%;
  display: flex;
  justify-content: center;
  /* overflow-y: scroll; */
  align-items: center;
}

.main-left-container{
  height:100%;
  width:80%;

}

.main-left ul {
  list-style: none;
}

.main-left .latest-release {
  display: flex;
  height:40%;
}


.queue{
  display:flex;
  justify-content: space-around;
  color:white;
  width:80%;
  padding-top:20px;

}

.queue-dropdown{
  display:flex;
  width:20%;
  justify-content: space-between;
  margin:6px 0px;
  position:relative;
  
}

.queue-options{
  height:60px;
  min-width:130px;
  background-color: aliceblue;
  color:black;
  display:none;
  justify-content: space-around;
  align-items:center;
  flex-direction: column;
  font-size: 14px;
  position:absolute;
  right:0;
  top:30px;
}

.queue-dropdown:hover .queue-options{
  display:flex;
}


.queue h2{
  margin-left:55px;
}



.main-right-ul li{
  display:flex;
  width:95%;
  justify-content: center;
  margin-top:20px;
  min-height:56px;
  /* background-color: rgb(106, 101, 101); */
  align-items: center;
  border:1px solid transparent;
  cursor: pointer;
}

.main-right-ul li:hover{
  border:1px solid white;
}
.main-right-left{
  min-width:70%;
  height:100%;
  display:flex;
  justify-content: flex-start;
  align-items: center;
  
}

.count{
  margin-right:10px;
  font-size: 15px;
}

.music-name{
  margin-left:10px;
  display:flex;
  flex-direction: column;
}

.grey-name{
  color:grey;
  font-size: 12px;
}
.queue-photo{
  height:90%;
  width:25%;
  
}



.heart{
  color:white;
}

.popular-artist{
  min-width:80%;
  min-height:10%;
  /* background-color: brown; */
  margin:20px 0;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.popular-artist ul{
  display:flex;
  justify-content: space-between;
  list-style: none;
  height:150px;
}

.popular-artist ul li{
  width:130px;
  height:80%;
  border-radius:130px;
  overflow: hidden;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
  position: relative;
  
}




.popular-artist ul li div{
  position:absolute;
  top:0%;
  left:0%;
  background-color: rgb(121, 119, 113);
  height:100%;
  width:100%;
  justify-content: center;
  align-items: center;
  transform:scaleX(0);
  transform-origin: left;

}

.popular-artist ul li:hover .popular-artist-name {
  opacity:0.7;
  transition:all 0.4s ease;
  color:white;
  display:flex;
  background-color: grey;
  transform:scaleX(1);
 

}

/* .popular-arti:hovst ul li span:hover{
  left:0px;
  transition:all .5 ease;
  z-index: 12;
  
} */

/* .popular-artist ul li a{
  height:100%;
  width:130px;
  overflow: hidden;
  
} */

.popular-artist ul li a img{
  width:100%;
  height:100%;
  overflow: hidden;
  position:absolute;
  top:0;
  left:0;
}

.queue-photo img{
  height :100%;
  width:100%;
}

.fa-arrow-down{
  border:1px solid white;
  border-radius:100%;
  padding:4px;
  font-size:23px;
}

.queue {
  /* margin-left:35px; */
  width:80%;
  cursor: pointer;
}

.queue h3{
  margin-top:4px;
}

.queue h4{
  color:grey;
}
.latest-releases{
  width:100%;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  margin:30px 0;
  font-size:14px;
  color:rgb(106, 108, 109);
  box-sizing: border-box;
  
}

.latest-releases h1{
  color:white;
  margin-bottom:-15px;
}


.latest-release-small-name{
  color:grey;
  font-size: 12px;
} 

.latest-releases ul{
  display:flex;
  list-style:none;
  flex-wrap: wrap;
  justify-content: space-between;
 
}

.latest-releases ul li{
  /* margin:0 auto; */
  display:flex;
  justify-content: space-between;
  min-width: 48%;
  margin-top:15px;
  color:white;
  /* background-color: rgb(175, 171, 171); */
  margin-right:5px;
  height:80px;
  border:2px solid transparent;
}
.latest-release-l{
  max-width:70%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;

}

.latest-releases-img{
  height:100%;
  width:50%;
 
}

.latest-releases-img::before{
  /* content:"<a class="fa fa-bars"><a/>"; */
  content:"";
  width:40%;
  height:100%;
  opacity:0;
  background-color: rgb(197, 26, 26);
  position:absolute;
  top:0%;
  left:0;
  
}

.latest-releases-img:hover{
  opacity: 1;
}

.latest-release-l section{
  margin-left:10px;
}

.latest-release-l div{
  overflow: hidden;
  /* margin-left:10px; */
  
}

.latest-release-l img{
  width:80%;
  height:100%;

}


.latest-release-r{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  /* padding-right:10px; */
  width:30%;
  

  font-size: 13px;
}

.latest-releases-img{
  height:100%;
  width:100px;
  position:relative;
}


.latest-releases-img span{
  height:100%;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  background-color:rgb(106, 108, 109,0.7);
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.latest-releases-img:hover span{
  display:flex;
}
.time{
  color:rgb(252, 247, 247);
  font-size: 12px;
  

  /* background-color: blueviolet; */
}

.fa-bars{
  font-size:16px;
  align-self: center;
}

.latest-releases ul li:hover{
  border:2px solid white;
  transition:all 0.5 ease;
  /* box-sizing: border-box; */
}

a{
  height:100%;
  width:100%;
}

.categories{
  width:100%;
  min-height:130px;
  margin:20px 0px;
  background-image: linear-gradient(to right, red , yellow);
  padding:30px 0;
}

.categories h2{
  margin-bottom: -10px;
}
.categories-container{
  height:100%;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.categories-left{
  height:100%;
  width: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left:20px;
}

.stations{
  min-height:80px;
  background-color: rgb(219, 146, 21);
  width:70%;
  text-align: center;
}

img{
  height: 100%;
  width:100%;
}

.categories-right{
  width:80%;
  height:100%;
  display:flex;
  justify-content:space-around;
  /* flex-wrap:wrap; */
}

.categories-right li{
  height:100px;
  width:100px;
  background-color: white;
  color:black;
  border-radius:100%;
  text-align: center;
  align-self: center;
  justify-content: space-around;
  overflow: hidden;
  cursor: pointer;
  opacity:.8;
}

.categories-right li:hover{
  opacity:1;
  transition:all .1s ease;
}

.categories-down{
  height:200px;
  width:100%;
}

.categories-down ul{
  display:flex;
  justify-content: space-between;
  list-style: none;
}

.categories-down ul li{
  height:120px;
  width:32%;
  cursor: pointer;
  position:relative;
  overflow: hidden;
  
}

.categories-down ul li div {
  position:absolute;
  top:0;
  left:0;
  display:block;
  transform:translate(90px,50px);
  font-size: large;

}

.categories-down ul li img:hover{
  transform: scale(2);
  transition:all .5s ease;
  
}
.party:before{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:20px;
  color:grey;


}
.latest-english{
  display: flex;
  justify-content: space-between;
  height:130px;
  width:100%;
  
  
}
.latest-hindi{
  display: flex;
  justify-content: space-between;
  height:130px;
  width:100%;
  
}


.latest-hindi li{
  height:100%;
  width:180px;
  cursor: pointer;
  

}

.latest-english li{
  height:100%;
  width:180px;
  /* display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
  cursor: pointer;


}

.latest-english-div h2{
  margin-bottom:3px;
}
.language{
  width:100%;
  min-height:450px;
  display:flex;
  flex-direction: column;
  color:white;
  justify-content: space-between;
  
  padding-bottom: 100px;
}

.language h6{
  color:grey;
}
.latest-english-div,.latest-hindi-div{
  height:36%;
  width:100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  
}

.latest-english li img:hover{
  box-shadow: 2px 2px 7px white;
  transition:all .1s ease;
}

.latest-hindi li img:hover{
  box-shadow: 2px 3px 7px  white;
  transition:all .1s ease;
  
}




.language ul li img{
  height:80%;
  width:100%;
}

footer{
  height:60px;
  width:100%;
  position:fixed;
  bottom:0;
  left:0;
  background-color: grey;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  
}

footer ul{
  display:flex;
  justify-content: space-around;
  align-items: center;
  list-style:none;
}

.footer-left{
  display:flex;
  width:15%;
  justify-content: space-around;
  align-items: center;
  margin-left:100px;
}

.footer-img{
  height:50px;
  width:80px;
  overflow: hidden;
}

.footer-left-name{
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  
}

/* .footer-left-name h6{
  color:black;
} */

footer li{
  cursor: pointer;
}

footer input{
  cursor: pointer;
}

.footer-middle{
  width:20%;
  height:100%;
  display: flex;
  justify-content: space-around;
  align-items:center;
}

.footer-right{
  width:20%;
  height:100%;
}

@media only screen and (max-width:1200px){
  .main-right{
    display: none;
  }

  .main-left{
    width:100%;
  }
}